In [1]:
print("Meet Anshul")
print("Anshul is a software engineer")
print("Anshul is also interested in lots of other things in life")

#Instead of typing Anshul, we can store it in variable

Meet Anshul
Anshul is a software engineer
Anshul is also interested in lots of other things in life

In [2]:
name = "Anshul"
print("Meet" , name)
print("%s is a software engineer"  %name)
print("%s is also interested in lots of other things in life" %name)

Meet Anshul
Anshul is a software engineer
Anshul is also interested in lots of other things in life

In [3]:
name = "Bhagyashree"
print("Meet" , name)
print("%s is a software engineer"  %name)
print("%s is also interested in lots of other things in life" %name)

Meet Bhagyashree
Bhagyashree is a software engineer
Bhagyashree is also interested in lots of other things in life

In [5]:
#In python variables with the same name holds the same memory space 


name = "Anshul"
name2 = "Bhagyashree"


print(id(name))
print(id(name2))

1761842682320
1761842984944

In [12]:
#int
num = 5
print(num , type(num))
#conversion
print(float(num) , type(float(num)))
print(complex(num) , type(complex(num)))

#float
num = 5.6
print(num ,type(num))
#conversion
print(int(num) , type(int(num)))


#complex
num = 5 + 6j
print(num , type(num))

5 <class 'int'>
5.0 <class 'float'>
(5+0j) <class 'complex'>
5.6 <class 'float'>
5 <class 'int'>
(5+6j) <class 'complex'>

In [5]:
#List , tuples and dictionaries
lst = [1,4,5,2,5,6]
print(lst)
print(lst[0])
print(len(lst))
print(lst[-4:])
print(lst[1::2])

[1, 4, 5, 2, 5, 6]
1
6
[5, 2, 5, 6]
[4, 2, 6]

In [6]:
lst = [1,4,"Python" , 2 , 7.4 , 5]
lst.append("Learning")

In [12]:
nested = [1,2,[2,3,4]]
nested.extend([[5,6,7], [7,8,9]])

In [13]:
nested

[1, 2, [2, 3, 4], [5, 6, 7], [7, 8, 9]]

In [18]:
tpl = (1,2,3)
print(tpl[::-1])

(3, 2, 1)

In [20]:
tpl = 5,6,8
a,b,c = tpl

In [22]:
print(a,b,c)

5 6 8

In [23]:
a , *lst = tpl
print(a , tpl)

In [ ]:
s = {1,2,2,3,3,3,4,5}
print(s)
s[1] = 1 #this won't work as it cannot be assigned

In [31]:
#arthimetic operators 
a ,b = 10 , 5
print('a + b' , a + b)
print('a - b' , a - b)
print('a * b' , a * b)
print('a / b' , a / b)
print('a // b' , a // b)
print('a % b' , a % b)
print('a ** b' , a ** b)

a + b 15
a - b 5
a * b 50
a / b 2.0
a // b 2
a % b 0
a ** b 100000

In [34]:
count = 0 
count = count + 1
count += 1
print(count)

2

In [36]:
#Relational operators 

a,b = 10 , 5
print(a,b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

10 5
True
False
True
False
False
True

In [41]:
#Relational operators 


a1, b1, c1 =  10 , 20 , 30 
print(a1,b1,c1)
print(c1>b1 or 1 > b1)
print(not a1 > b1)

10 20 30
True
True

In [48]:
#bitwise operator 


a ,b = 10 , 5 
print((bin(a) , bin(b)))
print(a & b)
print(bin(a|b))
print(bin(a^b))
print(bin(~a))
print(bin(a<<2))

('0b1010', '0b101')
0
0b1111
0b1111
-0b1011
0b101000

In [51]:
#membership operators 

lst = [1,2,3,4,5]
x=2
print(x not in lst)

False

In [54]:
#identity operator 

x = 10 
y = 10
print(x is y)
print(x is not y)

True
False

In [62]:
import math 

x = 9.5
y= 3
print(math.pow(x,y))

x = 9.5
print(math.ceil(x))

print(math.sqrt(x))

print(math.factorial(y))

857.375
10
3.082207001484488
6

In [65]:
#inline input 

name = input("Enter your name \n")
print("Hi" , name)

age = input("Enter your age \n")
print("What's your age" , age )

Enter your name
Anshul
Hi Anshul
Enter your age
28
What's your age 28

In [3]:
name = input("Enter the word \n")[:4]
print("Hi" , name)

Enter the word
Anshul
Hi Ansh

In [6]:
a = int(input("Enter a multiple of 5"))
print(type(a))

Enter a multiple of 510
<class 'int'>

In [2]:
name = input("Enter your name")
print("Hi" , name)


age = input("Enter your age \n")
print("%s is %d years old"%(name , int(age))) 
#everything in input is string , convert the variable first  
#use % sign to name the variables

Enter your nameAnshul
Hi Anshul
Enter your age
28
Anshul  is 28 years old

In [ ]:
#if , while , for , break , continue